<!--    Team Webelistics™️  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2024/01/23'     -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/images/team_webelistics_logo.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/public/css/min_flexbox.css" />
    <script type="module" src="/src/js/min_flexbox.js" content="text/javascript"></script>
    <title>Minimal Flexbox Grid</title>
</head>

<body>
    <ul>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>


</body>

</html>